<!DOCTYPE html>
<html>
<head>
    <title>Traveller Sector Viewer</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ url_for("static", filename="voroni.min.js") }}"></script>
    <script src="{{ url_for("static", filename="QuadTree.js") }}"></script>
</head>
<body>
<p>The seed for this system is <strong>{{ seed }}</strong></p>
<canvas id="sector" style="float: left;"></canvas>
<div style="max-height: 600px; overflow-y: auto;">
    <h2 id="planetname">No System Selected</h2>
    <p id="planetinfo"></p>
</div>
<script>
    function randint(min, max) {
        return Math.floor(Math.random()*(max-min)+min);
    }

    var star_colours = {
        "M": "#ffbd6f",
        "K": "#ffddb4",
        "G": "#fff4e8",
        "F": "#fbf8ff",
        "A": "#cad8ff",
        "B": "#aabfff",
        "O": "#9db4ff"
    }, star_sizes = {
        "M": 3,
        "K": 4,
        "G": 4,
        "F": 5,
        "A": 8,
        "B": 12,
        "O": 20
    };

    function fmod (a,b) {
        return Number((a - (Math.floor(a / b) * b)).toPrecision(8));
    }

    function buildTreemap(diagram) {
        var treemap = new QuadTree({
                x: 0,
                y: 0,
                width: sector.width,
                height: sector.height
            }),
            cells = diagram.cells,
            iCell = cells.length;
        while (iCell--) {
            var bbox = cells[iCell].getBbox();
            bbox.cellid = iCell;
            treemap.insert(bbox);
        }
        return treemap;
    }

    function cell_under(x, y, treemap) {
        // Get the Voronoi cells from the tree map given x,y
        var items = treemap.retrieve({x:x,y:y}),
            iItem = items.length,
            cells = diagram.cells,
            cell, cellid;
        while (iItem--) {
            cellid = items[iItem].cellid;
            cell = cells[cellid];
            if (cell.pointIntersection(x,y) > 0) {
                return cell.site;
            }
        }
        return undefined;
    }

    function distance(start, end) {
        return Math.sqrt(Math.pow(start[0]-end[0], 2)+Math.pow(start[1]-end[1], 2));
    }

    function draw_map() {
        for (var site in diagram.cells) {
            var cell = diagram.cells[site];
            var halfedges = cell.halfedges,
                    nHalfedges = halfedges.length;
            if (nHalfedges > 2) {
                var v = halfedges[0].getStartpoint();
                ctx.beginPath();
                ctx.moveTo(v.x, v.y);
                for (var iHalfedge = 0; iHalfedge < nHalfedges; iHalfedge++) {
                    v = halfedges[iHalfedge].getEndpoint();
                    ctx.lineTo(v.x, v.y);
                }
                ctx.fillStyle = empires[cell.site.empire].background_colour;
                ctx.fill();
                ctx.strokeStyle = empires[cell.site.empire].border_colour;
                ctx.strokeStyle = empires[cell.site.empire].border_colour;
                ctx.stroke();
            }
        }

        if (selected) {
            for (var site in diagram.cells) {
                var cell = diagram.cells[site];
                if (cell.site == selected) {
                    var halfedges = cell.halfedges,
                            nHalfedges = halfedges.length;
                    if (nHalfedges > 2) {
                        var v = halfedges[0].getStartpoint();
                        ctx.beginPath();
                        ctx.moveTo(v.x, v.y);
                        for (var iHalfedge = 0; iHalfedge < nHalfedges; iHalfedge++) {
                            v = halfedges[iHalfedge].getEndpoint();
                            ctx.lineTo(v.x, v.y);
                        }
                        ctx.setLineDash([2, 4]);
                        ctx.lineDashOffset = ((+new Date) / 100) % 6;
                        ctx.strokeStyle = "white";
                        ctx.stroke();
                        ctx.setLineDash([]);
                        ctx.lineDashOffset = 0;
                    }
                }
            }
        }

        ctx.strokeStyle = "#404040";
        ctx.setLineDash([2, 4]);
        ctx.beginPath();
        for (star in stars) {
            var start = stars[star];
            for (var route in start.routes) {
                route = start.routes[route];
                var destination = stars[route];
                ctx.moveTo(start.x, start.y);
                ctx.lineTo(destination.x, destination.y);
            }
        }
        ctx.stroke();
        ctx.setLineDash([]);
        for (star in stars) {
            star = stars[star];
            var s = star_sizes[star.class.charAt(0)],
                    s2 = s / 2;
            if (star.name == empires[star.empire].seat) {
                ctx.fillStyle = empires[star.empire].colour;
                ctx.fillRect(star.x - s2 - 4.5, star.y - s2 - 4.5, s + 9, s + 9);
            }
            ctx.fillStyle = "black";
            ctx.fillRect(star.x - s2 - 1, star.y - s2 - 1, s + 2, s + 2);
            ctx.fillStyle = star_colours[star.class.charAt(0)];
            ctx.fillRect(star.x - s2, star.y - s2, s, s);
        }
    }

    var system,
        stars = {},
        empires = {},
        sector = document.getElementById("sector"),
        ctx = sector.getContext("2d"),
        voronoi = new Voronoi(),
        diagram, treemap, selected;

    $.ajax({
        dataType: "json",
    {% if seed is none %}
        url: "/json/sector.json",
    {% else %}
        url: "/json/sector/{{ seed }}.json",
    {% endif %}
        success: function (data, status, xhr) {
            system = data;

            sector.width = sector.height = 600;
            ctx.fillStyle = "black";
            ctx.fillRect(0,0,600,600);

            var star, atmosphere_types = [
                "No",
                "Trace",
                "Very Thin, Tainted",
                "Very Thin",
                "Thin, Tainted",
                "Thin",
                "Standard",
                "Standard, Tainted",
                "Dense",
                "Dense, Tainted",
                "Exotic",
                "Corrosive",
                "Insidious"
            ], tech_levels = [
                "Frontier",
                "Basic Infrastructure",
                "Basic Industry",
                "Basic Electronics",
                "Basic Precision Engineering",
                "Solid State Electronics",
                "Nuclear Power",
                "Orbital Capability",
                "Artificial Gravity",
                "FTL Capability",
                "Holographics",
                "Handheld Quantum Computing",
                "Miniaturised Artificial Gravity",
                "Human Cloning",
                "Short-Range FTL Communication",
                "Miniaturised Forcefields",
                "Matter Transporter",
                "Self-Aware Machines",
                "Singularity"
            ], law_levels = [
                "No prohibitions",
                "Explosives, chemical weapons etc. prohibited",
                "Portable energy weapons prohibited",
                "Military weapons prohibited",
                "Automatic weapons prohibited",
                "Concealable firearms prohibited",
                "Small arms prohibited, open carry discouraged",
                "All longarms prohibited except for sport",
                "Long blades controlled, other weapons prohibited",
                "Weapons prohibited except on private property",
                "All weapons prohibited"
            ];

            for (var i in data.empires) {
                var empire = data.empires[i];
                empires[empire.name] = empire;
                empire.colour = "hsl(" + fmod(i * 0.618033988749895, 1.0)*360 + ", 50%, 40%)";
                empire.background_colour = "hsl(" + fmod(i * 0.618033988749895, 1.0)*360 + ", 50%, " + Math.sqrt(1.0 - fmod(i * 0.618033988749895, 0.5))*10 + "%)";
                empire.border_colour = "hsl(" + fmod(i * 0.618033988749895, 1.0)*360 + ", 50%, " + Math.sqrt(1.0 - fmod(i * 0.618033988749895, 0.5))*5 + "%)";
            }
            empires["Independent"] = {
                name: "Independent",
                colour: "black",
                background_colour: "black",
                border_colour: "#0D0D0D"
            };

            for (star in data.stars) {
                star = data.stars[star];
                star.x = star.location[0] * 27 + 300;
                star.y = star.location[1] * 27 + 300;
                stars[star.name] = star;
            }

            diagram = voronoi.compute(data.stars, {xl:0,xr:ctx.canvas.width,yt:0,yb:ctx.canvas.height});
            treemap = buildTreemap(diagram);

            var draw_loop = function () {
                draw_map();
                requestAnimationFrame(draw_loop);
            };
            draw_loop();

            $("#sector").mousedown(function (event) {
                var x = event.offsetX,
                    y = event.offsetY,
                    system = cell_under(x, y, treemap);
                if (system) {
                    selected = system;
                    var first;
                    $("#planetname").text(system.name + " (" + system.empire + ")");
                    $('#planetname').css("color", empires[system.empire].colour);
                    var description = "";
                    if (system.name == empires[system.empire].seat)
                        description += "<strong>Seat of the " + system.empire + "</strong><br>";
                    description += "Class " + system.class + "<br>";
                    description += "Coordinates (" + system.location[0] + ", " + system.location[1] + ")<br>";
                    if (system.routes) {
                        description += "Subsidised routes to";
                        first = true;
                        for (var r in system.routes) {
                            r = system.routes[r];
                            description += first ? " " : ", ";
                            description += r;
                            description += " (" + Math.ceil(distance(system.location, stars[r].location)) + " parsec)";
                            first = false;
                        }
                        description += "<br>";
                    }
                    if (system.gas_giants)
                        description += system.gas_giants + " gas giant" + (system.gas_giants == 1 ? "" : "s") + "<br>";
                    if (system.planets) {
                        description += system.planets.length + " inhabited planet" + (system.planets.length == 1 ? "" : "s") + "<br>";
                        for (var p in system.planets) {
                            var planet = system.planets[p];
                            description += "<br>" + planet.name + " (";
                            if (planet.classification) {
                                first = true;
                                for (var c in planet.classification) {
                                    c = planet.classification[c];
                                    description += first ? "" : " ";
                                    description += c;
                                    first = false;
                                }
                            } else {
                                description += "Standard";
                            }
                            description += " World)<br><em>Size " + planet.size;
                            description += ", Population ~" + planet.population + "<br>";
                            description += (planet.hydrographics * 10) + "% ocean coverage, ";
                            description += atmosphere_types[planet.atmosphere] + " atmosphere<br>";
                            description += planet.government + ", Law Level: " + planet.law_level;
                            description += " (" + law_levels[planet.law_level] + ")<br>";
                            description += "Tech Level:" + planet.tech_level + " (" + tech_levels[planet.tech_level] + "), ";
                            description += "Starport: " + planet.starport;
                            if (planet.scout_base) description += ", Scout base";
                            if (planet.naval_base) description += ", Naval base";
                            description += "<br>";

                            description += "</em>";
                        }
                    }
                    $("#planetinfo").html(description);
                } else {
                    $("#planetname").text("No System Selected");
                }
            });
        }
    });

</script>
</body>
</html>